# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ChipM8-SDL

# Ignore the include folder
include/

# Vim Swap files
*.swp
*.swo
.*.swp
.*.swo

# VSCode
.vscode/
build/

# Games folder
games/